{% extends 'base.html.twig' %}

{% block body %}


    <main class="container">
        <h1 class="mt-2">Liste des Cantines</h1>
        <section class="row">
            {% for cantine in cantines %}
                <div class="col-4">
                    <div class="card">
                         <div class="card-body">
                            <h2 class="card-title">{{ cantine.name }}</h2>
                            <p class="card-text">{{ cantine.adresse }}</p>
                            <p class="card-text">{{ cantine.ville }}</p>

                            <a href="#" class="card-link btn btn-outline-info">Détail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>


{% endblock %}

{% block title %}

{% endblock %}

